@font-face {
    font-family: 'segoePrint';
    src: url('../fonts/segoePrint/segoeprint.eot');
    src: url('../fonts/segoePrint/segoeprint.eot?#iefix')format('embedded-opentype'),
         url('../fonts/segoePrint/segoeprint.woff')format('woff'),
         url('../fonts/segoePrint/segoeprint.ttf')format('truetype'),
         url('../fonts/segoeScript/segoeprint.woff2')format('woff2'),
         url('../fonts/segoeScript/segoeprint.svg')format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe Script Regular';
    src: local('Segoe Script Regular'), url('../fonts/segoeScript/Segoe Script.woff')format('woff'),
         url('../fonts/segoePrint/Segoe Script.eot'),
         url('../fonts/segoePrint/Segoe Script.eot?#iefix')format('embedded-opentype'),
         url('../fonts/segoePrint/Segoe Script.ttf')format('truetype'),
         url('../fonts/segoeScript/Segoe Script.woff2')format('woff2'),
         url('../fonts/segoeScript/Segoe Script.svg')format('svg');
    font-weight: normal;
    font-style: normal;
}


